.viewer .watermark a {
    display: none !important;
    width: auto !important;
    height: auto !important;
    background: none !important;
    background-size: auto !important;
    outline: auto !important;
}

/* Add this CSS to your project */
.loading-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;  /* Adjust this value to fit your design */
}

.loading-icon {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  